[Desktop Entry]
Version=2.2.8.188
Name=Industrial Craft 2
Comment=Industrial Craft 2 Server.
Exec=ic2.ic2gui
Icon=/snap/ic2/current/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Games;Application;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=IndustrialCraft2
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.2.8.188
StartupNotify=true
Name[ru_RU]=Industrial Craft 2
